:root{
    /* Colors */
    /* --clrMainBlue:#2B8EB5; */
    --clrMainBlue:#2A94F4;
    --clrBlueLight:#74FAC8;
    --clrBlueDark:#003E8F;
    --white:#F2FAFF;
    --white2:#FFF4F9;
    --black:#071F1E;
    --grey:#092036;
    --grey2:#3F4756;

    /* Gradients */
    /* --gradientMain: linear-gradient(150deg, var(--clrMainBlue), var(--clrGreen), var(--clrMainBlue), var(--clrBlueLight)); */
    --gradientMain: linear-gradient(225deg, var(--clrMainBlue), var(--clrBlueLight));
    --gradientSec: linear-gradient(70deg, var(--clrBlueDark), var(--clrBlueDark), var(--clrMainBlue));
    --gradientTer: linear-gradient(135deg, var(--clrBlueDark), var(--clrBlueLight));
    --gradientNeutral:linear-gradient(135deg, var(--white), var(--white2));

    --gradientMain-v2: linear-gradient(-135deg, var(--clrMainBlue), var(--clrBlueLight));
    --gradientCur:linear-gradient(90deg, var(--grey), var(--clrBlueDark), var(--black));
    /*  Zones*/
    --header:var(--white);
    --btnMenu:var(--white);
    --bgMain:var(--white);
    --textColor:var(--white);
    --textColorBlack:var(--black);

    /* SHADOWS */
    --shwMain: 0 .5rem 3rem rgba(179, 252, 255,0.5);
    --shwBlack: 0 .5rem 10rem rgba(0, 0, 0, 0.5);
    --shwWhite: 0 .1rem 2.5rem rgba(255, 255, 255, 0.5);

    /* TEXT FONTS and SIZE */
    --fontTitle:'Montserrat', 'Nunito', sans-serif;
    --fontTextNormal:'Nunito', 'Montserrat', sans-serif;

    --fs-900:5.75rem;
    --fs-800:5rem;
    --fs-700:4rem;
    --fs-600:2rem;
    --fs-500:1.775rem;

    /* Width */
    --widthResponsive:85%;
}

html{
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *::after, *::before{
  box-sizing: inherit; 
  text-decoration: none;
  text-transform: none;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
}
*::selection{
  color: var(--white);
  background: var(--black);
}

/* Setup Default Stuff*/
.flex{
  display: flex;
  align-items: center;
}
h1, h2, h3, h4, p, span, a, i, label, input, textarea, li, button{
  line-height: 1.3;
  color: var(--textColor);
  font-family: var(--fontTitle);
  max-width: 64ch;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
p, i, label, input, textarea, li, button{
  font-size: var(--fs-600);
  font-family: var(--fontTextNormal);
  text-transform: unset;
  line-height: 1.5;
  font-weight: 400;
}
a, button{
  font-size: var(--fs-500);
  font-weight: 500;
}
h2{ font-size: var(--fs-800); font-weight: 700;}
h3{ font-size: var(--fs-700); font-weight: 600;}
h4{ font-size: var(--fs-600); font-weight: 500;}

.btn{
  background: var(--white);
  color: var(--clrBlueDark);
  font-weight: 600;
  padding: 0.75em 2.3em;
  border-radius: 5rem;
  box-shadow: var(--shwMain);
}
.btn:hover{
  color: var(--white);
  background: var(--gradientSec);
  transition: all 300ms ease-in-out;
}
/* End Default Stuff*/

/* General Stuff Setup */
body{
  background: var(--gradientTer);
  position: relative;
}
section, footer{
  max-width: 100%;
  /* min-height: 0vh; */
  position: relative;
}
section.hero{
  min-height: 100vh;
}
section:not(.hero, .services, .banner){
  padding: 8vh 0 4em;
}
section.services, footer{
  padding: 8vh 0;
}
.contentAuto{
  justify-content: space-between;
  width: var(--widthResponsive);
  margin: 0 auto;
  position: relative;
  gap: 5rem;
  -moz-column-gap: 5rem;
  -webkit-column-gap: 5rem;
}
.contentAuto:not(.contentHeader, .contentHero, .contentBanner){
  margin: 1em auto;
}
.img{
  max-width: 100%;
  width: 60em;
  height: auto;
}
/* End General Stuff Setup */

/* Header */
header{
  width: 100%;
  height: 8vh;
  z-index: 1000;
  position: fixed;
  transition: all 500ms ease-in-out;
  background: black;
}
/* .contentHeader{
  margin-top: 1em;
} */
.divLogo{
  /* min-width: 40%; */
  width: auto;
}
.logoName{
  font-size: var(--fs-900);
  font-weight: 300;
  margin-left: 2rem;
  letter-spacing: 1.3px;
  float: left;
}
.logoImg{
  float: left;
  width: var(--fs-900);
  height: auto;
}
.navlink{
  margin: 0 1rem;
}
.navlink:hover{
  color: var(--clrBlueLight);
}
.btnMenu{
  position: relative;
  display:  inline-block;
  width: 3.3rem;
  height: 3rem;
  background: transparent;
  cursor: pointer;
  display: none;
  transition: all 500ms ease-in-out;
}
.btnMenu span:before, .btnMenu span:after {
	position: absolute;
	content: '';
}
.btnMenu span,.btnMenu span:before,.btnMenu span:after{
	width: 3.3rem;
	height: 0.5rem;
	background-color: var(--white);
	display: block;
}
.btnMenu span:before{
	margin-top: -1.2rem;
}
.btnMenu span:after{
	margin-top: 1.2rem;
}
.btnMenu.open span{
  background: none;
  transition: all 500ms ease-in-out;
}
.btnMenu.open span::after{
  animation: after 0.45s ease-in-out forwards;
}
.btnMenu.open span::before{
  animation: before 0.45s ease-in-out forwards;
}
@keyframes before{
  0%{
    margin-top: -1.2rem;
  }
  25%{
    margin-top: -0.5rem;
  }
  50%{
    margin-top: 0rem;
    transform: rotate(0);
  }
  100%{
    transform: rotate(45deg);
    margin: 0;
  }
}
@keyframes after{
  0%{
    margin-top: 1.2rem;
  }
  25%{
    margin-top: 0.5rem;
  }
  50%{
    margin-top: 0;
    transform: rotate(0);
  }
  100%{
    transform: rotate(-45deg);
    margin: 0;
  }
}

/* End Header Setup */

/* Hero Setup */
.hero{
  background: var(--gradientTer);
}
/* .insideHero{
  width: var(--widthResponsive);
  margin: 0 auto;
  gap: 5rem;
  -moz-column-gap: 5rem;
  -webkit-column-gap: 5rem;
} */
.imageHero{
  width: auto;
  flex: 1 0 45em;
  justify-content: center;
}
.imageHero img{
  max-width: 100%;
  width: 60em;
  height: auto;
}
.textHero{
  flex: 1 0 50em;
}
.sloganHero{
  margin-bottom: 3rem;
}
.sloganHero span{
  font-size: var(--fs-900);
  color: var(--white2);
  font-weight: 800; 
}
.titleHero{
  margin-bottom: 5rem;
}
.titleHero h1{
  font-size: var(--fs-700);
  font-weight: 500;
  color: var(--grey);
  font-style: italic;
}
/* .btnMasInfo{
  background: var(--white);
  color: var(--clrBlueDark);
  font-weight: 600;
  padding: 0.75em 2.3em;
  border-radius: 5rem;
  box-shadow: var(--shwMain);
}
.btnMasInfo:hover{
  color: var(--white);
  background: var(--gradientSec);
  transition: all 300ms ease-in-out;
} */
.btnPresupuesto{
  padding: 0.65em 1em;
  margin-left: 4rem;
  color:var(--clrBlueDark);
  border-bottom: 3px solid var(--white2);
  border-radius: 6rem;
  font-weight: 600;
}
.btnPresupuesto:hover{
  color: var(--white);
  background: var(--gradientSec);
  border: none;
  transition: all 300ms ease-in-out;
}
/* End Hero */

/* Services / Servicios */
.services{
  background: var(--white);
  position: relative;
  overflow: hidden;
}
.descripServices, .titleServices{
  color: var(--grey5);
  font-weight: 600;
  margin: 2rem auto;
}
.descripServices strong{
  font-weight: 800;
}
/* .imageServices{
  width: auto;
  justify-content: center;
} */
.imageServices img{
  max-width: 100%;
  width: 65em;
  height: auto;
}
/* .decoServices::after{
  position: absolute;
  content: url(img/Puntitos.svg);
  width: 40%;
  height: 40%;
  transform: rotate(270deg);
  top: 0;
  left: 0;
}
.decoServices::before{
  position: absolute;
  content: url(img/Puntitos.svg);
  width: 40%;
  height: 40%;
  transform: rotate(270deg);
  top: 0;
  right: 0;
} */

/* End Services */

/* Caracteristicas / Features */
.features{ 
  background: var(--gradientMain-v2);
}
.contentFeatures{
  flex-direction: column;
  gap: 0em;
  -moz-column-gap: 0em;
  -webkit-column-gap: 0em;
}
.feature{
  display: flex;
  align-items: center;
  margin: 2em 0;
}
.spanFeatures{
  margin-bottom: 1rem;
  display: inline-block;
  color: var(--white);
  background: var(--grey);
  padding: .1rem 0.2rem;
  font-size: 1.35rem;
  text-transform: uppercase;
}
.textFeatures p, .textFeatures h3{
  color: var(--textColorBlack);
}
.titleFeatures{
  margin: 2em auto 0em;
}
.textFeatures p{ 
  margin: 1em auto 0; 
}
.textFeatures strong{
  font-weight: 900;
}
.imageFeatures img{
  width: 40em;
  height: auto;
  margin: auto 7.5em;
}
/* End Features */

/* contactBanner */
.banner{
  background: var(--grey);
}
.contentBanner{
  position: relative;
  height: 30em;
  margin: 0 auto;
  padding: 2em auto;
  justify-content: flex-end;
}
.imageBanner img{
  width: 25em;
  height: auto;
}
.textBanner{
  max-width: 70%;
}
.textBanner p{
  font-size: var(--fs-700);
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  margin: auto;
  position: relative;
  z-index: 34;
}
.textBanner a{
  margin: 1em auto;
  display: block;
  width: max-content;
  position: relative;
  z-index: 33;
}
/* End ContactBanner */

/* Prizes / Precios */
.prizes{
  background: var(--gradientMain);
  --textColor:var(--textColorBlack);
}
.contentAuto.contentPrizes{
  justify-content: space-evenly;
  align-items: flex-start;
}
.titlePrizes{
  width: max-content;
  margin: 0 auto;
}
.titlePrizes + p{
  text-align: center;
  margin: 0 auto 1em;
}
.titlePrizes + p > a{
  text-decoration: underline;
  margin-bottom: 2em;
  display: inline-block;
}
.titlePrizes + p > a:hover{
  color:var(--clrBlueLight);
}
.titleBoxPrizes{
  text-align: center;
}
.boxPrizes span, .boxPrizes li{
  text-align: center;
  display: block;
  margin: 0 auto;
  font-size: var(--fs-600);
  list-style: none;
  margin: 0.8em auto;
}
span.prizesPrize{
  font-size: var(--fs-900);
  color: var(--clrMainBlue);
  margin: .25em auto;
}
.boxPrizes ul{
  margin-bottom: 4em;
}
.boxPrizes a{
  margin: 0 auto;
  width: max-content;
  display: block;
  background: var(--clrBlueLight);
}
.boxPrizes i.fa-times{
  color: #F26152;
}
.boxPrizes i.fa-check{
  color: #30C192;
}
.boxPrizes{
  background:var(--white2);
  border-radius:5em;
  padding: 5em;
  box-shadow: var(--shwMain);
  max-width: min(100%, 50em);
  flex: 1 0 50em;
  transition: all 500ms ease-in-out;
}
.boxPrizes:hover{
  transform: rotate(0.5deg) translateY(-1.5%);
}
.boxPrizes:nth-child(1){
  border: 0.3rem solid var(--clrBlueDark);
}
/* End Prizes */

/* Dudas */
section.dudas{
  background: var(--gradientNeutral);
  --textColor:var(--black);
  padding-bottom: 10rem;
  position: relative;
  z-index: 20;
}
.contentDudas{
  justify-content: center;
  flex-direction: column;
}
section.dudas .contentDudas:first-child::before{
  content: "";
  width: 100%;
  position: absolute;
  height: 100%;
  background-image: url("img/pensando.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 25%;
  opacity: 0.21;
  z-index: -4;
}
.dudaBox{
  display: block;
  max-width: 100%;
  position: relative;
}
.pregunta{
  justify-content: space-between;
  align-items: flex-start;
  padding: 1.5rem;
  /* background: var(--gradientNeutral); */
  border-radius: 1rem;
}
.pregunta i, .pregunta h4{
  align-self: center;
}
.pregunta i{
  font-size: var(--fs-700);
}
.respuesta{
  height: 0;
  display: block;
  overflow: hidden;
  width: 70%;
  opacity: 0;
  padding: 1.5rem;
  transition: all 500ms ease-in-out;
}
.pregunta.open{
  border-width: 0 0 0.35rem 0;
  border-style: solid;
  border-image: conic-gradient(var(--clrBlueLight), var(--clrMainBlue)) 1;
}
.pregunta.open + .respuesta, .respuesta p{
  height: auto;
  width: 100%;
  overflow: visible;
  opacity: 1;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.pregunta.open i{
  transform: rotate(180deg);
  transition: all 500ms ease-in-out;
}
/* End Dudas */

/* Contact */
.contact{
  background: linear-gradient(to right,
  var(--grey)54.5%, var(--white) 45%);
  --textColor:var(--white);
  min-height: 100vh;
}
.titleContact{
  text-align: center;
}
.contentContact.contentAuto{
  justify-content: space-around;
}
.contentForm{
  width: 50%;
}
.contentForm, .contentMensaje{
  max-width: 100%;
  height: 100%;
}
.entryForm{
  position:relative;
  width: 90%;
  margin: auto;
}
label{
  position: absolute;
  top: 1rem;
  left: 0;
  background: none;
  transition: .2s linear;
}
label,input, textarea{
  display: block;
  text-align: left;
  width: 100%;
  margin-left:0 !important;
  margin-right:0 !important;
  background: none;
}
input, textarea{
  padding-block: 0.5em;
  margin-block: 5rem;
  margin-left:0 !important;
  margin-right:0 !important;
  border-bottom: .2rem solid var(--clrBlueLight);
}
.entryForm input:focus ~ label,
.entryForm input:valid ~ label,
.entryForm textarea:focus ~ label,
.entryForm textarea:valid ~ label{
    top: -2rem;
    color: var(--clrBlueLight);
    font-size: var(--fs-500);
    transition: all 300ms ease-in-out;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin-left: 0;
  margin-right: 0;
}
input[type=number] {
  -moz-appearance: textfield;
  margin-left: 0;
  margin-right: 0;
}
textarea{
  resize: none;
  height: 20rem;
}
.submitForm{
  width: max-content;
  margin: 0;
  margin-left: 5%;
}
.btnForm{
  font-size: 2.2rem;
  padding: 1rem 4rem;
  cursor: pointer;
  border-radius: 0.87rem;
  color: var(--grey);
  background: var(--gradientMain);
  transition: all 500ms ease-in-out;
  margin-top: 1em;
  box-shadow: none;
}
.contentMensaje{
  display: block;
  align-self: flex-start;
  width: 40%;
  --textColor:var(--black);
  margin-top: 1rem;
  position: relative;
  z-index: 1;
}
.contentMensaje div:first-child:before{
  content: "";
  width: 100%;
  position: absolute;
  height: 100%;
  background-image: url("img/contactBanner.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.25;
  z-index: -4;
}
.contentMensaje div:not(.titleMensajeContact){
  display: flex;
  gap: 2rem;
  -moz-column-gap: 2rem;
  -webkit-column-gap: 2rem;
  align-items: center;
  margin: 8rem auto;
  width: 100%;
  color: var(--clrBlueDark);
}
.contentMensaje a{
  font-size: var(--fs-600);
  font-weight: 500;
}
.contentMensaje i{
  font-size: var(--fs-800);
  width: 5rem;
  font-weight: 500;
}
.contentMensaje p{
  font-weight: 600;
}
.linkContact:hover i, .linkContact:hover a{
  color: var(--clrMainBlue);
  cursor: pointer;
}
/* End Contact */

@media(max-width:1280px){
  :root{
    --fs-900:5rem;
    --fs-800:4.35rem;
    --fs-700:3.35rem;
    --fs-600:1.9rem;
    --fs-500:1.775rem;
    --widthResponsive:90%;
  }
  html{
    font-size: 55%;
  }
  .header .navbar{
    visibility: hidden;
    width: 0;
  }
  .header .btnMenu{
    display: block;
  }
  .header.open-menu{
    background: var(--gradientSec);
    height: 100vh;
    width: 100%;
    margin: 0;
    transition: 700ms ease-in-out;
  }
  .header.open-menu .navbar{
    visibility: visible;
    width: auto;
    position: absolute;
    top: 8vh;
    left: 50%;
    transform: translateX(-50%);
    transition: all 500ms ease-in-out;
  }
  .header.open-menu .navbar .navlink{
    display: block;
    margin-top: 6rem;
    font-size: 6rem;
    transition: all 500ms ease-in-out;
  }
  .contentHero.contentAuto{
    gap: 3.5rem;
    -moz-column-gap: 3.5rem;
    -webkit-column-gap: 3.5rem;
  }
  .contentAuto:not(.contentHeader, .contentHero, .contentBanner){
    margin: 3em auto;
  }
  .contentHero, .contentServices{
    flex-direction: column-reverse;
  }
  .titleFeatures{
    margin: 3em auto;
  }
  .feature{
    flex-direction: column;
    align-self: center;
    width: auto;
  }
  .contentAuto.contentPrizes{
    align-items: center;
  }
}
@media(max-width:990px){
  :root{
    --fs-900:4.75rem;
    --fs-800:3.5rem;
    --fs-700:3rem;
    --fs-600:1.75rem;
    --fs-500:1.775rem;
    --widthResponsive:85%;
  }
  .imageFeatures img{
    width: 40em;
    height: auto;
    margin: 3em auto;
  }
  .contentAuto.contentPrizes{
    flex-direction: column-reverse;
  }
  .contentContact{
    flex-direction: column;
  }
  .contact{
  background: linear-gradient(to bottom,
  var(--grey)54.5%, var(--white) 45%);
  }
  .contentMensaje{
    width: 90%;
    margin-inline: auto;
    margin-top: 7rem;
  }
  .contentForm{
    width: 90%;
    margin-inline: auto;
    margin-bottom: 7rem;
  }
}
@media(max-width:768px){
  :root{
    --fs-900:4.75rem;
    --fs-800:3.5rem;
    --fs-700:3rem;
    --fs-600:1.75rem;
    --fs-500:1.775rem;
    --widthResponsive:85%;
  }
  *{
    box-sizing: inherit;
  }
  .btnMasInfo{
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .btnPresupuesto{
    display: block;
    margin: 3rem 0 3rem 0;
    padding-left: 2rem;
    padding-right: 2rem;
    width: max-content;
  }
  .contentHero.contentAuto{
    margin-bottom: 3rem;
    gap: 0rem;
    -moz-column-gap: 0rem;
    -webkit-column-gap: 0rem;
  }
  .contentBanner{
    justify-content: center;
  }
  .imageBanner{
    position: absolute;
    opacity: 0.6;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
  }
  .textBanner{
    max-width: 90%;
  }
  .textBanner a{
    width: min-content;
    height: auto;
    padding: 1.5% 3.5%;
    margin: 2em auto 0;
  }
}
@media(max-width:450px){
  html{
      font-size: 49%;
  }
}